In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
from datetime import datetime
from itertools import combinations

In [2]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1008,tt1482459,70000000,348840316,The Lorax,Zac Efron|Danny DeVito|Taylor Swift|Ed Helms|R...,Chris Renaud|Kyle Balda,Meet The Original Force Of Nature,A 12-year-old boy searches for the one thing t...,86,Animation|Family,Universal Pictures|Illumination Entertainment,3/1/2012,6.3,2012
1487,tt0405676,55000000,9450897,All the King's Men,Sean Penn|Jude Law|Kate Winslet|James Gandolfi...,Steven Zaillian,Some people will do anything to gain power. So...,The story of an idealist's rise to power in th...,125,Drama|Thriller,Columbia Pictures Corporation|Rising Star|Rela...,9/10/2006,5.4,2006
236,tt2319580,12700000,3430018,The Grand Seduction,Brendan Gleeson|Taylor Kitsch|Gordon Pinsent|L...,Don McKellar,The small town of Tickle Cove needed a doctor....,A small fishing village must procure a local d...,112,Comedy,Max Films Productions|Morag Loves Company,5/30/2014,6.7,2014
1187,tt0770828,225000000,662845518,Man of Steel,Henry Cavill|Amy Adams|Michael Shannon|Diane L...,Zack Snyder,You will believe that a man can fly.,A young boy learns that he has extraordinary p...,143,Action|Adventure|Fantasy|Science Fiction,Legendary Pictures|Warner Bros.|DC Entertainme...,6/12/2013,6.5,2013
97,tt2279373,74000000,311594032,The SpongeBob Movie: Sponge Out of Water,Tom Kenny|Bill Fagerbakke|Rodger Bumpass|Clanc...,Paul Tibbitt,He's leaving his world behind.,Burger Beard is a pirate who is in search of t...,93,Family|Animation,Paramount Pictures|Nickelodeon Movies|Nickelod...,2/5/2015,5.7,2015

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [4]:
answers = {} # создадим словарь для ответов

# предобработки колонок:
# «прибылью» или «убытками» понимается разность между 
# сборами и бюджетом фильма (прибыль = сборы - бюджет) 
data['profit'] = data['revenue'] - data['budget']
def len_overview(overview):
    return len(overview)
#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ну если необходимо, то переводим колонку release_date из формата string
# в datetime format
data.release_date = data.release_date.apply(lambda x: datetime.strptime(x, '%m/%d/%Y'))

# 1. У какого фильма из списка самый большой бюджет?

In [5]:
# группируем нужные нам данные через функцию groupby и ишем максимальное
# значение бюджета и сортируем данные по убыванию и смотрим самую
# верхнию строку
title_of_film = data.groupby(['original_title'])['budget'].max(
    ).sort_values(ascending=False).index[0]
id_of_film = data.groupby(['imdb_id'])['budget'].max(
    ).sort_values(ascending=False).index[0]
print(f'Самый большой бюджет у фильма {title_of_film} ({id_of_film})')

Самый большой бюджет у фильма Pirates of the Caribbean: On Stranger Tides (tt1298650)

In [6]:
# +
answers['1'] = title_of_film

In [7]:
# еще можно получить информацию через фильтр и посмотреть описание строки
data[data.budget == data.budget.max()].describe(include 
                                = ['object']).original_title.top

'Pirates of the Caribbean: On Stranger Tides'

# 2. Какой из фильмов самый длительный (в минутах)?

In [8]:
long_films = data[data.runtime == data.runtime.max()].describe(
    include = ['object']).original_title.top
print(f'Самый длинный фильм из списка {long_films}')
print(f'Его продолжительность более {round(214/60, 1)} часов')

Самый длинный фильм из списка Gods and Generals
Его продолжительность более 3.6 часов

In [9]:
# +
answers['2'] = long_films

# 3. Какой из фильмов самый короткий (в минутах)?

In [10]:
short_film = data[data.runtime == data.runtime.min()].describe(
    include = ['object']).original_title.top
print(f'Самый короткий фильм {short_film}')

Самый короткий фильм Winnie the Pooh

In [11]:
# +
answers['3'] = short_film

# 4. Какова средняя длительность фильмов?

In [12]:
# ищем среднее в колонке runtime и округляем
mean_of_films = round(data.runtime.mean())
print(f'Средняя продолжительность фильмов в списке {mean_of_films} минут')

Средняя продолжительность фильмов в списке 110 минут

In [13]:
# +
answers['4'] = mean_of_films

# 5. Каково медианное значение длительности фильмов?

In [14]:
# С помощью метода describe получаем нужную информацию и выводим на экран
mediana_time = data.runtime.describe()
print_med_time = round(mediana_time['50%'])
print(f'Медианное значение фильмов {print_med_time} минут')

Медианное значение фильмов 107 минут

In [15]:
# +
answers['5'] = print_med_time

# 6. Какой самый прибыльный фильм?

In [16]:
profit_of_film = data.groupby(['original_title'])['profit'].max(
    ).sort_values(ascending=False).index[0]
# достаем прибыль из таблицы
pro = data.profit[data.profit == data.profit.max()].iloc[0]
print(f'Самым прибыльным фильмом оказался {profit_of_film}')
#  да корявенько сделал :)
print(f'Его прибыль составила более {round(float(pro/1000000000), 1)} миллиардов долларов')

Самым прибыльным фильмом оказался Avatar
Его прибыль составила более 2.5 миллиардов долларов

In [17]:
# изобретем свой велосипед
profit = data.revenue - data.budget
p = profit[profit == profit.max()].index[0]
data['original_title'][p]

'Avatar'

In [18]:
data[data.index == p]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,2009-12-10,7.1,2009,2544505847

In [19]:
# +
answers['6'] = profit_of_film

# 7. Какой фильм самый убыточный?

In [20]:
loss_of_film = data.groupby(['original_title'])['profit'].min(
    ).sort_values().index[0]
print(f'Самым убыточным фильмо оказался {loss_of_film}')

Самым убыточным фильмо оказался The Lone Ranger

In [21]:
# +
answers['7'] = loss_of_film

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [22]:
# фильтруем список по условию, затем делаем подсчет
loss = len(data[data.revenue > data.budget])
print(f'Эти {loss} фильмов отбили себя')

Эти 1478 фильмов отбили себя

In [23]:
# +
answers['8'] = loss

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [24]:
# фильтруем датасет по году
data_year = data[data.release_year == 2008]
# фильтруем фильмы 2008 года по кассе
top_2008 = data_year[data_year.revenue == data_year.revenue.max(
                                    )].iloc[0]['original_title']
# и кассу сорвал Нолан!
print(f'Самым кассовым фильмом 2008 стал {top_2008}')
print(f'Кстати при произношение название фильма можно перевести как Темная Ночь')

Самым кассовым фильмом 2008 стал The Dark Knight
Кстати при произношение название фильма можно перевести как Темная Ночь

In [25]:
# +
answers['9'] = top_2008

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [26]:
# делаем фильтр по годам от и до
data_year_range = data[(data.release_year >= 2012) 
                 & (data.release_year <= 2014)]
# выбираем по столбц profit самый убыточный фильм
loss_12_14 = data.groupby(['original_title'])['profit'].min(
    ).sort_values().index[0]
loss_12_14

'The Lone Ranger'

In [27]:
# а еще я так могу
profit_loss = data_year_range.revenue - data_year_range.budget
profit_loss[profit_loss == profit_loss.min()]

1245   -165710090
dtype: int64

In [28]:
# и так могу
loss_loss = profit_loss[profit_loss == profit_loss.min(
        )].iloc[0]/1000000

In [29]:
print(f'Вот это поворот {loss_12_14} с убытками в {round(loss_loss, 1)} миллионов долларов')

Вот это поворот The Lone Ranger с убытками в -165.7 миллионов долларов

In [30]:
# +
answers['10'] = loss_12_14

# 11. Какого жанра фильмов больше всего?

In [31]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале

In [32]:
# копируем датасет
data11 = data.copy()
# подаем данные из колонки, как объект String и разбиваем
# на массив строк с помощью ('|')(список в одной ячейки)
data11['genres'] = data11.genres.str.split('|')
# c помощью данной фун-ий разбиваем наш массив (список) строк
# берет каждый элемент массива и преобразует в строку
genre_top = data11.explode('genres')
# Делаем выборку по столбцу и применяем функцию
# функция value_counts() подсчитывает для каждого значения в серии 
# количество раз, которое это значение встречается
genre = genre_top['genres'].value_counts().index[0]

In [33]:
print(f'Э я удивлен, что такой жанр, как {genre} лидирует!')

Э я удивлен, что такой жанр, как Drama лидирует!

In [34]:
# +
answers['11'] = genre

In [35]:
# можно сделать функцию, а можно и циклом
# всякий цикл, который повторяется много раз, становится функцией,
# но не всякая функция цикл
# функция будет! но ниже :)
# а можно и так

# копируем датасет
data111 = data.copy()
# объявлем словарь
a = {}
# формируем список
drama = data111.genres.str.split('|').sum()
# с помощью счетчиков подсчитываем количество повторщихся элементов
a = (Counter(drama))
# функция возврашает  наиболее часто встречающихся элементы
# в порядке убывания встречаемости.
a.most_common(1)

[('Drama', 782)]

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [36]:
data12=data.copy()
data12['genres'] = data12.genres.str.split('|')
profit_more = data12.explode('genres')
profit_genre = profit_more[profit_more['profit'] 
                           > 0 ]['genres'].value_counts().index[0]
print(f'Кто все эти люди, которые ходят на {profit_genre} ?')

Кто все эти люди, которые ходят на Drama ?

In [37]:
# +
answers['12'] = profit_genre

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [38]:
data13 = data.copy()
# разделяем режисеров в список в одной ячейки
data13['director'] = data13.director.str.split('|')
# разделяем режисеров из списка в отдельные строки
director_profit=data13.explode('director')
# формируем фильтры
director = director_profit.groupby(['director'])['revenue'].sum(
                        ).sort_values(ascending=False).index[0]

In [39]:
revenue = director_profit.groupby(['director'])['revenue'].sum(
                             ).sort_values(ascending=False).iloc[0]

In [40]:
print(f'Этот режисер {director} и у него кассовость на {revenue} гринов')

Этот режисер Peter Jackson и у него кассовость на 6490593685 гринов

In [41]:
# +
answers['13'] = director

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [42]:
data14 = data.copy()
# разделяем жанры в список в одной ячейки
data14['genres'] = data14.genres.str.split('|')
# разделяем жанры из списка в отдельные строки
data_films=data14.explode('genres')
# разделяем режисеров в список в одной ячейки
data_films['director'] = data_films.director.str.split('|')
# разделяем режисеров из списка в отдельные строки
director_genres = data_films.explode('director')
# формируем фильтры
director_of_Action = director_genres[director_genres['genres'] 
                == 'Action']['director'].value_counts()

In [43]:
nameAction = director_of_Action.index[0]

In [44]:
sumAction = director_of_Action.iloc[0]

In [45]:
print(f'Режисер специализирующийся на Action {nameAction}, он снял целых {sumAction} штук.')

Режисер специализирующийся на Action Robert Rodriguez, он снял целых 9 штук.

In [46]:
# +
answers['14'] = nameAction

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [47]:
data15 = data.copy()
# разбиваем актеров
data15['cast'] = data15.cast.str.split('|')
data_cast = data15.explode('cast')
# делаем срез по году
cast_year_2012 = data_cast[data_cast['release_year'] == 2012]
# фильтруем - группируем по актёрам и суммируем сборы, сортируем
cast_2012 = cast_year_2012.groupby(['cast'])['revenue'].sum(
    ).sort_values(ascending=False).index[0]
print(f'На Олимпе кассовости в этом году был {cast_2012}')

На Олимпе кассовости в этом году был Chris Hemsworth

In [48]:
# +
answers['15'] = cast_2012

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [49]:
# просто оставлю это здесь
data16 = data.copy()
data16['cast'] = data16.cast.str.split('|')
data_cast = data16.explode('cast')
actor = data_cast[data_cast['budget'] 
                > data_cast.budget.mean(
                     )]['cast'].value_counts().index[0]
print(f'Буду краток {actor}')

Буду краток Matt Damon

In [50]:
# +
answers['16'] = actor

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [51]:
# хм где то  уже видел данную структуру
data17 = data.copy()
data17['genres'] = data17.genres.str.split('|')
film_genres=data17.explode('genres')
film_genres['cast'] = film_genres.cast.str.split('|')
film_Nicolas = film_genres.explode('cast')
genre_Nicolas = film_Nicolas[film_Nicolas['cast'] 
             == 'Nicolas Cage']['genres'].value_counts().index[0]
print(f'Nicolas Cage любит {genre_Nicolas}!')

Nicolas Cage любит Action!

In [52]:
# +
answers['17'] = genre_Nicolas

# 18. Самый убыточный фильм от Paramount Pictures

In [53]:
# хм вроде все понятно ?
data18 = data.copy()
# надо было обозвать покороче столбцы
data18['production_companies'] = data18.production_companies.str.split('|')
film_PP = data18.explode('production_companies')
data_PP = film_PP[film_PP.production_companies == 'Paramount Pictures']
loss_PP = data_PP[data_PP.profit == data_PP.profit.min(
        )].describe(include = ['object']).original_title.top
print(f'{loss_PP}, очередная клюква ?')

K-19: The Widowmaker, очередная клюква ?

In [54]:
# +
answers['18'] = loss_PP

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [55]:
# Да, да я помню про этот успешный год, и да мы работаем чтобы 
# попасть к вам в штат :) 
data19 = data.copy()
# групируем, суммируем, сортируем
win_year = data19.groupby(['release_year'])['revenue'].sum(
    ).sort_values(ascending=False).index[0]
# побеждаем
print(f'{win_year} был отличным годом для кино!')

2015 был отличным годом для кино!

In [56]:
# +
answers['19'] = win_year

# 20. Какой самый прибыльный год для студии Warner Bros?

In [57]:
data20 = data.copy()
# надо было обозвать покороче столбцы
data20['production_companies'] = data20.production_companies.str.split('|')
company20 = data20.explode('production_companies')
companyWB = company20[company20.production_companies.str.contains(
    'Warner Bros', na = False)]
year_WB = companyWB.groupby(['release_year'])['profit'].sum(
).sort_values(ascending=False).index[0]
print(f'{year_WB} просто год расцвета WB')

2014 просто год расцвета WB

In [58]:
# +
answers['20'] = year_WB

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [59]:
data21 = data.copy()
# так как у нас колонка release_date в datetime format
# то воспользуемс функцией и переведем дату в месяцы
data21.release_date = data21.release_date.apply(
    lambda x: x.strftime('%B'))
month = data21['release_date'].value_counts().index[0]
month_number = data21['release_date'].value_counts().iloc[0]
print(f'Самый плодотворный месяц - это {month} вышло целых {month_number} фильмов')

Самый плодотворный месяц - это September вышло целых 227 фильмов

In [60]:
# +
answers['21'] = month

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [61]:
data22 = data.copy()
# так как у нас колонка release_date в datetime format
# формируем условие с помощью функций dt.month 
summer = data22[(data22['release_date'].dt.month 
                 > 5) & (data22['release_date'].dt.month < 9)]
# подсчитываем количество уникальных значений
# по колонке imdb_id
film_summer = summer.imdb_id.nunique()
print(f'Лето прекрасная пора, все отдыхают даже киношники, всего вышло {film_summer} фильмов')

Лето прекрасная пора, все отдыхают даже киношники, всего вышло 450 фильмов

In [62]:
# +
answers['22'] = film_summer

# 23. Для какого режиссера зима – самое продуктивное время года?

In [63]:
# копируем датасет
data23 = data.copy()
# разделяем режисеров в список в одной ячейки
data23['director'] = data23.director.str.split('|')
# разделяем режисеров из списка в отдельные строки
director = data23.explode('director')
# переводим дату в месяцы
director['release_date'] = director.release_date.apply(
    lambda x: x.strftime('%B'))
# формируем фильтр и ищем зимние месяцы в колонке
director_winter = director.query(
    'release_date in ["January", "February", "December"]')
dir_product = director_winter['director'].value_counts().index[0]
sum_film = director_winter['director'].value_counts().iloc[0]
print(f'{dir_product} любит снимать в Новой Зеландий, наснимал он зимой целых {sum_film} фильмов')

Peter Jackson любит снимать в Новой Зеландий, наснимал он зимой целых 7 фильмов

In [64]:
# +
answers['23'] = dir_product

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [65]:
# копируем датасет
data24 = data.copy()
# разделяем студий в список в одной ячейки
data24['production_companies'] = data24.production_companies.str.split('|')
# разделяем студий из списка в отдельные строки
company24 = data24.explode('production_companies')
# c попощью фун-ий apply применяем lambda для каждого элемента
# колонки
# lambda подсчитывает кол-во символов в название фильма
company24['title_symbol'] = company24.original_title.apply(
    lambda x: len(x))
# составляем сводную таблицу и вычисляем среднее кол-во символов
# и сортируем по убыванию
pivot_company24 = company24.pivot_table(values = 'title_symbol', 
    index = 'production_companies', aggfunc = 'mean').sort_values(
                    by='title_symbol',ascending=False).index[0]
print(f'Мне кажется названия у компаний {pivot_company24} за гранью добра и зла.')

Мне кажется названия у компаний Four By Two Productions за гранью добра и зла.

In [66]:
# +
answers['24'] = pivot_company24

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [67]:
# копируем датасет
data25 = data.copy()
# разделяем студий в список в одной ячейки
data25['production_companies'] = data25.production_companies.str.split('|')
# разделяем студий из списка в отдельные строки
company25 = data25.explode('production_companies')
# применяем функцию для подсчета символов в описаний
company25['overview_symbol'] = company25.overview.apply(len_overview)
# составляем сводную таблицу и вычисляем среднее кол-во символов
# и сортируем по убыванию
company25_pivot = company25.pivot_table(
    ['overview_symbol'], ['production_companies'], aggfunc = 'mean'
  ).sort_values(by='overview_symbol',ascending=False).index[0]
print(f'{company25_pivot} лидер этого списка, возможно они как то свзаны с предыдущей компанией')

Midnight Picture Show лидер этого списка, возможно они как то свзаны с предыдущей компанией

In [68]:
# +
answers['25'] = company25_pivot

# 26. Какие фильмы входят в 1 процент лучших по рейтингу?

In [69]:
# будем вычислть по vote_average
# копируем датасет
data26 = data.copy()
# формируем отдельную таблицу, по интересующим нас колонкам
title_vote = data26[['original_title', 'vote_average']]
# с помощью функций quantile указываем точку которая нас интересует
# и затем с помощью неравенства находим искомое
vote1 = title_vote[title_vote['vote_average'] 
           > title_vote['vote_average'].quantile(q=0.99
                )]
print(f'В таблице ниже представленны top 1% фильмов {vote1}')

В таблице ниже представленны top 1% фильмов                                      original_title  vote_average
9                                        Inside Out           8.0
34                                             Room           8.0
118                                    Interstellar           8.0
119                         Guardians of the Galaxy           7.9
125                              The Imitation Game           8.0
128                                       Gone Girl           7.9
138                        The Grand Budapest Hotel           7.9
370                                       Inception           7.9
599                                 The Dark Knight           8.1
872                                     The Pianist           7.9
1081  The Lord of the Rings: The Return of the King           7.9
1183                        The Wolf of Wall Street           7.9
1191                               12 Years a Slave           7.9
1800                                        Memento           7.9

In [70]:
# +
answers['26'] = vote1

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [71]:
'''фун-ия combinations комбинирует отдельные элементы которые ей
 подаются (actor_two) и формирует из элементов значения (в данном 
 случае двух (2)) в новом отрезке,
                     комбинаций элементов не повторяются'''
# копируем датасет
data27 = data.copy()
# инициируем счетчики
actors_more = Counter()
# запускаем цикл с помощью фун-ий range проходим построчно датасет
for i in range(0, len(data27)):
# формируем список в виде строки из актеров cast, 
# которые есть на текущей строке [i]
# и раздел строку из списка, разделителем служит ('|')
    actor_two = data27.cast[i].split('|')
# создаем список (list) на основание информаций от combinations
# в данном случай создаются пары из актеров
# проходимся по нему (j)
    for j in list(combinations(actor_two, 2)):
# если текущей пары нет в счетчике, то заносим в счетчик
# и открываем подсчет данной пары
        if j not in actors_more:
            actors_more[j] = 1
# если данная пара присутствует в счетчики, то прибавлем +1
# к текущему счетчику данной пары
        else:
            actors_more[j] += 1

In [72]:
# most_common - функция возврашает наиболее часто встречающиеся
# элементы в порядке убывания встречаемости.
actors_more.most_common(3)

[(('Daniel Radcliffe', 'Rupert Grint'), 8),
 (('Daniel Radcliffe', 'Emma Watson'), 8),
 (('Rupert Grint', 'Emma Watson'), 7)]

In [73]:
# +
answers['27'] = actors_more.most_common(3)

# Submission

In [74]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides',
 '2': 'Gods and Generals',
 '3': 'Winnie the Pooh',
 '4': 110,
 '5': 107,
 '6': 'Avatar',
 '7': 'The Lone Ranger',
 '8': 1478,
 '9': 'The Dark Knight',
 '10': 'The Lone Ranger',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker',
 '19': 2015,
 '20': 2014,
 '21': 'September',
 '22': 450,
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26':                                      original_title  vote_average
 9                                        Inside Out           8.0
 34                                             Room           8.0
 118                                    Interstellar           8.0
 119                         Guardians of the Galaxy           7.9
 125                              The Imitation Game           8.0
 128                                       Gone Girl           7.9
 138                        The Grand Budapest Hotel           7.9
 370                                       Inception           7.9
 599                                 The Dark Knight           8.1
 872                                     The Pianist           7.9
 1081  The Lord of the Rings: The Return of the King           7.9
 1183                        The Wolf of Wall Street           7.9
 1191                               12 Years a Slave           7.9
 1800                                        Memento           7.9,
 '27': [(('Daniel Radcliffe', 'Rupert Grint'), 8),
  (('Daniel Radcliffe', 'Emma Watson'), 8),
  (('Rupert Grint', 'Emma Watson'), 7)]}

In [75]:
# и убедиться что ни чего не пропустил)
len(answers)

27